body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  /*object-fit: cover;*/
}
/*common*/
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*heder*/
.header-page {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.addres-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.addres-link:hover,
.addres-link:focus {
  color: #404bbf;
}

/*MAIN*/
.main-section {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}
.container-main {
  display: block;
  align-items: center;
}
.main-name {
  padding-top: 188px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn-section-one {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn-section-one:hover,
.btn-section-one:focus {
  background-color: #404bbf;
}

/*noname*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.noname {
  padding: 120px 0;
}
.container-noname {
  margin: 120px auto;
  padding: 0 156px;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
}

.section-noname {
  display: flex;
  gap: 24px;
  width: 100%;
}

.section-noname > li {
  width: calc((100% - 3 * 24px) / 4);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.name-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.name-text-li {
  letter-spacing: 0.02em;
  margin-right: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.name-text-li:last-child {
  margin-right: 0;
}

/*section two*/
.team {
  padding: 120px 0;
  display: flex;
  gap: 24px;
  background: #f4f4fd;
  align-items: center;
  flex-wrap: wrap;
  width: calc((100%-72) / 4);
  border-radius: 0px 0px 4px 4px;
}

.container-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  /*width: 162px;
  height: 40px;*/
  margin-left: auto;
  margin-right: auto;
  /*align-items: center;
  display: flex;
  align-self: stretch;*/
}
.list-team {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.list-name {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}
.name-team {
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.names .name-team {
  padding-top: 0;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 4px;
  align-items: center;
}

.text-s-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 4px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 0;
  margin-bottom: 8px;
}

/*section portfolio*/

.section-portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  gap: 24px;
  background: #f4f4fd;
  align-items: center;
  flex-wrap: wrap;
  width: calc((100%-72) / 3);*/
}

.name-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.div-potfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  /*margin: auto;*/
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  width: 100%;
  height: auto;

}
.portfolio-list > li:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-list > li { width: calc((100% - 48px) / 3);}


.li-port {
  text-align: justify;
  align-items: justify;
  justify-content: center;
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}

/*списки ымя портфолыо*/
.name-list-portfolio {
  margin-bottom: 8px;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 226px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
.container-h-p {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  text-align: center;
}
.text-s-four {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 314px;
  padding-bottom: 32px;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding-top: 60px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-footer {
  color: #f4f4fd;
  width: 264px;
  padding-bottom: 100px;
}
.footer-logo {
  margin-top: 100px;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
